.circle {
    margin: 75px auto 0;
    width: 80%;
    min-width: 500px;
    text-align: justify;
     
    
    &__item {
        list-style: none;
        display: inline-block;
        width: 179px;
        height: 179px;
        line-height: 179px;
        border-radius: 50%;
        text-align: center;
        overflow: hidden;
        
        &_tickets {
           background-color: #4eb9f4; 
        }
        
         &_camera {
            background-color: #6fc125;
        }
        
         &_beer {
            background-color: #ff5649;
        }
        
         &_devices {
            background-color: #e48f23;
        }
    }
    
    &__icon {
        line-height: inherit;
        font-size: 4.667em;
        color: #fff;
    }
    
    &__desc {
        font-size: 1.133em;
        line-height: 1.667em;
        color: #fff;
        display: block;
        position: relative;
        top: -70px;
    }
    
    &:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
}




