.circle {
    margin: 75px auto 0;
    width: 80%;
    min-width: 500px;
    text-align: justify;
    
    &__item {
        list-style: none;
        display: inline-block;
        width: 18.645833333333332%; //179px
        text-align: center;
        overflow: hidden;
        position: relative;
    }
    
    &__inner {
        position: absolute;
        top: 40px;
        left: 60px;
        
        &-desc {
            font-size: 18px;
            
            $font-size: 18px;
            line-height: #{36px/$font-size}em; 
            
            color: #fff;
        }
    }
    
    &__icon {
        font-size: 74px;
        color: #fff;
    }
    
    &__desc {
        padding: 100% 0 0;
        background-color: #4eb9f4; 
        display: block;
        border-radius: 50%;
        
         &_tickets {
           background-color: #4eb9f4; 
        }
        
         &_camera {
            background-color: #6fc125;
        }
        
         &_beer {
            background-color: #ff5649;
        }
        
         &_devices {
            background-color: #e48f23;
        }
    }
    
    
    &:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
}




