.circle {
    margin: 75px 0 0;
    padding: 0px;
     
    
    &__item {
        list-style: none;
        display: inline-block;
        width: 179px;
        height: 179px;
        line-height: 179px;
        border-radius: 50%;
        text-align: center;
        overflow: hidden;
        
        & + & {
            margin-left: 75px;
        }
        
        &_tickets {
           background-color: #4eb9f4; 
        }
        
         &_camera {
            background-color: #6fc125;
        }
        
         &_beer {
            background-color: #ff5649;
        }
        
         &_devices {
            background-color: #e48f23;
        }
    }
    
    &__icon {
        line-height: inherit;
        font-size: 70px;
        color: #fff;
    }
    
    &__desc {
        font-size: 17px;
        line-height: 25px;
        color: #fff;
        display: block;
        position: relative;
        top: -70px;
    }
}




