.footer {
    background-color: #222825;
    
    &__menu-footer {
        display: inline-block;
        vertical-align: top;
    }
    
    &__social {
        display: inline-block;
        vertical-align: top;
        width: 280px;
        margin: 22px 35px;
    }
    
    &__menu .title_size_3x {
        color: #8b8b8b;
    }
    
    &__menu .menu__link {
        color: #8b8b8b;
        font-size: 15px;
    }
}
