.footer {
    background-color: #222825;
    
    &__menu-footer {
        display: inline-block;
        vertical-align: top;
        float: left;
        width: 70%;
    }
    
    &__social {
        display: inline-block;
        float: right;
        width: 24%;
        vertical-align: top;
        margin: 22px 35px;
    }
}
