.header {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1.4713610089332634% 0;
    
     &__right {
        float: right;
        display: inline-block;
    }
    
    &__left {
        float: left;
        display: inline-block;
    }
    
    &__tagline {
        padding: 337px 0px 55px;
        text-align: center;
    }
}

