.info-box {
    text-align: left;
    
    
    &__img {
        float: left;
        width: 20.72538860103627%;
        max-height: 134px;
        line-height: 0;
        margin: 0 1.8333333333333333% 0 0;
        overflow: hidden;
        
    }
    
    &__about {
        vertical-align: top;
        overflow: hidden;
    }
    
    &__text {
        margin: 0;
        font-size: 16px;
    }
    
    & + & {
        margin: 5% 0 0; 
    }
}
