.info-box {
    text-align: left;
    
    
    &__img {
        float: left;
        width: 20.72538860103627%;
        max-height: 134px;
        line-height: 0;
        display: inline-block;
        vertical-align: top;
        margin: 0 22px 0 0;
    }
    
    &__about {
        vertical-align: top;
        overflow: hidden;
    }
    
    &__text {
        margin: 0;
        font-size: 1em;
    }
    
    & + & {
        margin: 60px 0 0; 
    }
}
