.menu-footer {
    margin: 0;
    padding: 0;
    text-align: justify;
    font-size: 0.1px; /*hide whitespace between elements*/

    &__item {
        display: inline-block;
        width: 22.727272727272727%; // 100px;
        font-size: 17px;
    }

    &__link {
        color: #8b8b8b;
        padding: 0;
        text-decoration: none;
        display: block;
    }

    &__title {
        color: #8b8b8b;
    }

    &:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
}
