.menu {
    margin: 0;
    padding: 0;
    display: inline-block;
       
    &__link {
        text-decoration: none;
        font-size: 17px;
        color: #454545;
        padding: 4px 10px;
        
        &_login {
                border-radius: 4px;
                background-color: #ff5649;
                color: #fff;
                margin: 0 0 0 10px;
        }
        
        &:hover {
            text-decoration: underline;
        }
    }

    &__icon {
        margin: 0 5px 0 0;
    }
}
