.page {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 23px;
    color: #404040;
    min-width: 995px;
    
    &__section {
        padding: 60px 0;
        text-align: center;
        
        &_background {
            background-image: url(../img/header_01.jpg);
            background-size: cover;
            padding: 335px 0 80px;
        }
        
        & + & {
            border-bottom: 1px solid #222825;
        }
    }
    
    &__footer {
        background-color: #222825;
        padding: 30px 0;
    }
    
    &__desc {
        font-size: 1.133em;
        line-height: 1.2;
    }
}
