.page {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    
    $font-size: 16px;
    line-height: #{23px/$font-size}em;
    color: #404040;
    min-width: 995px;
    
    &__section {
        padding: 3.15% 0;
        text-align: center;
        
        &_background {
            background-image: url(../img/header_01.jpg);
            background-size: cover;
            padding: 17.65% 0 4.20%; // 335px 0 80px;
            margin: -90px 0 0;
        }
        
        & + & {
            border-bottom: 1px solid #222825;
        }
    }
    
    &__footer {
        background-color: #222825;
        padding: 1.5764582238570677% 0;
    }
    
    &__desc {
        font-size: 18px;
        
        $font-size: 18px;
        line-height: #{30px/$font-size}em;    
    }
}
