.social {
    padding: 0;
    text-align: justify;
    font-size: 0.1px; /*hide whitespace between elements*/
    
    &__item {
        display: inline-block;
        vertical-align: top;
        list-style: none;
        text-align: center;
    }
    
    &__link {
        display: block;
        width: 52px;
        height: 52px; 
        line-height: 52px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
        
        &:hover {
            background-color: rgba(255, 255, 255, 0.82); 
        }
    }
    
    &__icon {
        line-height: inherit;
        font-size: 30px;
        color: #252825;
    }
    
    &:after {
    content: '';
    display: inline-block;
    width: 100%;
    }
}


