.tagline {
    
    &__title {
        font-size: 4.600em; // 69px
        margin: 0 0 0.4em 0;
        text-transform: uppercase;
        text-shadow: 0px 0px 13px rgba(0, 0, 0, 0.22);
        color: #fff;
    }
    
    &__desc {
        font-size: 1.667em; // 25px
        line-height: 2.333em; // 34px
        color: #fff;
    }
}

