.title {
    font-family: 'Open Sans';
    color: #404040;
    font-weight: 400;
    margin: 0 0 0.8em 0;

    &_size_1x {
        font-size: 2.333rem;
    }
    
    &_size_2x {
         font-size: 1.800rem; //27px
    }
    
    &_size_3x {
        font-size: 1.400rem; //21px
        line-height: 1.2;
    }
}

