.widget {
    margin: 20px 0 60px;
    text-align: left;
    
    &__media {
        width: 200px;
        height: 134px;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        margin: 0 22px 0 0;
    }
    
    &__about {
        width: 670px;
        display: inline-block;
        vertical-align: top;
    }
}